.profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 413px;
    height: 500px;
    background: #FFFFFF;
    box-shadow: 1px 1px 10px rgba(187, 187, 187, 0.35);
    border-radius: 10px;
    padding: 30px 50px;
    position: relative;
}

.backToCardsBlock {
    position: absolute;
    top: -30px;
    left: -50%;
}

.backToCardsBlock a {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.goToPacksTitle {
    text-decoration: none;
    color: black;

}

.backArrowTitle {
    font-weight: bold;
}

.profileBlock {
    width: 100%;
    text-align: center;
}

.title {
    font-size: 1.8rem;
    font-weight: 600;
    user-select: none;
    margin-bottom: 30px;
}

.userAvatarContainer {
    position: relative;
    margin-bottom: 20px;
}

.userAvatar {
    height: 200px;
    width: 200px;
}

.photoButton {
    position: absolute;
    right: 60px;
    bottom: 1px;
    cursor: pointer;
}

.userMailTitle {
    color: #757575;
    margin-top: 10px;
}

.logOutBtn {
    width: 150px;
    color: black;
    background-color: rgba(162, 162, 162, 0.13);
    border: 1px solid rgba(162, 162, 162, 0.13);
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 9px 25px 0 rgba(0, 0, 0, 0.19);
    margin-top: 30px;
}

@media (max-width: 1049px) {
    .backToCardsBlock {
        left: -50px;
    }
}

@media (max-width: 670px) {
    .backToCardsBlock {
        left: 10px;
    }
}