.headerBlock {
    margin-bottom: 50px;
    height: 60px;
    width: 100%;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .2);
    background-color: #FCFCFC;
    z-index: 1;
}

.headerContainer {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgBlock {
    padding-top: 8px;
}

.imgBlock img {
    width: 50px;
    height: 50px;
}

.linear {
    height: 5px;
    position: relative;
    bottom: 4px;
}

.personInfoInHeader {
    display: flex;
    padding-top: 3px;
}

.userNameIcon {
    padding: 7px 10px 0;
    user-select: none;
}

.goToProfileTitle {
    user-select: none;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
}

.goToProfileTitle:hover {
    color: #072c57;
}

.userAvatarIcon img {
    width: 35px;
    height: 35px;
    border-radius: 18px;
}