.errorFormik {
    text-align: center;
    color: rgba(208, 0, 0, 0.63);
    font-size: 0.85rem;
}

.formContainer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 413px;
    height: 528px;
    background: #FFFFFF;
    box-shadow: 1px 1px 10px rgba(187, 187, 187, 0.35);
    border-radius: 2px;
    padding: 20px;
}

.visibleConfirmEye {
    cursor: pointer;
    position: relative;
    width: 20px;
    top: -77px;
    left: 265px;
    color: #1565c0
}

.visibleEye {
    cursor: pointer;
    position: relative;
    width: 20px;
    top: -110px;
    left: 265px;
    color: #1565c0
}

.signUpTitle {
    font-size: 1.8rem;
    font-weight: 600;
    user-select: none;
    margin-top: 80px;
}

.errorConfirmPass {
    height: 25px;
}

.formContainer input {
    padding: 5px;
    height: 20px;
    width: 280px;
}

.formContainer input::placeholder {
    color: #afafaf;
}

.bottomBlock {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttonReg {
    width: 80%;
    margin-bottom: 20px;
}

.haveAccountTitle {
    color: #757575;
    user-select: none;
    font-weight: 400;
    margin: 0;
}

.signInTitle {
    user-select: none;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
}

.signInTitle:hover {
    color: #072c57;
}