.loginBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 413px;
    height: 528px;
    background: #FFFFFF;
    box-shadow: 1px 1px 10px rgba(187, 187, 187, 0.35);
    border-radius: 2px;
    padding: 50px;
}

.title {
    font-size: 1.8rem;
    font-weight: 600;
    user-select: none;
    margin-bottom: 50px;
}

.form {
    width: 100%;
    text-align: center;
}

.forgotPassTitle:hover {
    color: #2d2157;
}

.dontHaveAccountTitle {
    color: #757575;
    user-select: none;
    margin-top: 30px;
    padding-bottom: 15px;
}

.signUpTitle {
    user-select: none;
    text-decoration: none;
    color: black;
}

.signUpTitle:hover {
    color: #072c57;
}

.inputForm input {
    width: 100%;
}

.eye {
    position: absolute;
    margin-left: -28px;
    margin-top: 8px;
}

.checkedForm {
    text-align: left;
    user-select: none;
}

.checkedForm input {
    margin-right: 10px;
}

.error {
    box-sizing: border-box;
    margin: 3px 0 5px 0;
    font-size: 0.85rem;
    color: rgba(208, 0, 0, 0.63);
    height: 20px;
    user-select: none;
}

.forPass {
    text-align: right;
    margin-top: 20px;
    margin-bottom: 40px;
}

.forPass a {
    color: black;
    text-decoration: none;
}

.buttonForm button {
    width: 100%;
}