.default {
    background-color: #4f98dc;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    padding: 7px 10px;
    color: white;
    font-weight: 500;
    border: none;
}

.default:hover {
    cursor: pointer;
}

.default:active {

}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.disabled:hover {
    background-color: #1976D2;
    box-shadow: none;
}

.red {
    background: red;
}


