.appBlock {
 font-size: 16px;
  line-height: 1.6;
}

.appContainer {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.init {
    position: fixed;
    top: 30%;
    text-align: center;
    width: 100%;
}