.containerNewPasForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 413px;
    height: 500px;
    background: #FFFFFF;
    box-shadow: 1px 1px 10px rgba(187, 187, 187, 0.35);
    border-radius: 10px;
    padding: 30px 50px;
}

.title {
    font-size: 1.8rem;
    font-weight: 600;
    user-select: none;
    margin-bottom: 50px;
}

.form {
    width: 100%;
    text-align: center;
}

.inputForm input {
    width: 100%;
}

.eye {
    position: absolute;
    margin-left: -28px;
    margin-top: 8px;
}

.error {
    box-sizing: border-box;
    margin: 3px 0 5px 0;
    font-size: 0.85rem;
    color: rgba(208, 0, 0, 0.63);
    height: 20px;
    user-select: none;
}

.buttonForm {
    margin-top: 30px;
}

.buttonForm button {
    width: 100%;
}

.instructionText {
    color: #757575;
    user-select: none;
    margin-top: 15px;
    padding-bottom: 15px;
}